<%- include ('./header.ejs') %>
<%- include ('./sidebar.ejs') %>
           
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Cập nhật bài viết</h4>
                                        <p class="card-title-desc">Các bài viết sẽ được hiển thị trên website.</p>
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div>
                                                    <div class="mb-3">
                                                        <label for="example-text-input" class="form-label">Tiêu đề</label>
                                                        <input class="form-control" type="text" value="<%=infoBlog.title%>" id="title">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="example-text-input" class="form-label">Mô tả ngắn</label>
                                                        <textarea id="basicpill-address-input" class="form-control shortDesc" rows="3" placeholder="Viết gì đó"><%=infoBlog.shortDesc || ''%></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Danh mục</label>
                                                        <select class="form-select" id="category">
                                                            <% CATEGORY.forEach(category => { %>
                                                                <% if (category.id == infoBlog.category) { %>
                                                                    <option selected value="<%=category.id%>"><%=category.title%></option>
                                                                <% }else{%>
                                                                    <option value="<%=category.id%>"><%=category.title%></option>
                                                                <%} %>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="example-email-input" class="form-label">Hình ảnh</label>
                                                        <input class="form-control" type="file" value="" id="image-post" onchange="readURL(this)">
                                                        <br>
                                                        <img src="<%=infoBlog.image%>" id="img" height="200px" alt="">
                                                        <!-- <div>
                                                            <form action="#" class="dropzone">
                                                                <div class="fallback">
                                                                    <input name="file" type="file" multiple="multiple">
                                                                </div>
                                                                <div class="dz-message needsclick">
                                                                    <div class="mb-3">
                                                                        <i class="display-4 text-muted bx bx-cloud-upload"></i>
                                                                    </div>
                    
                                                                    <h5>Drop files here or click to upload.</h5>
                                                                </div>
                                                            </form>
                                                        </div> -->
                                                    </div>
                                                    <!-- <div class="mb-3">
                                                        <label for="example-url-input" class="form-label">URL Hình ảnh (Optional)</label>
                                                        <input class="form-control" type="url" value="<%=infoBlog.image%>" id="image">
                                                    </div> -->
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mt-3 mt-lg-0">
                                                    <div class="mb-3">
                                                        <label for="example-date-input" class="form-label">Nội dung bài viết</label>
                                                        <div name= "editor" class="editor__editable_inline" id="editor" aria-placeholder=""></div>
                                                    </div>
                                                    <script>
                                                        CKEDITOR.replace('editor', {
                                                            height: '380px',
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align: right;">
                                            <button type="submit" class="btn btn-primary w-md update-post">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Minia.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

<%- include ('./footer.ejs') %>

<script>

    $(document).ready(function(){

        let blogID = `<%=blogID%>`;

        $.ajax({
            url: `/blog/info/${blogID}`,
            method: 'GET',
            success: resp => {
                let infoBlog = resp.data;
                console.log({ infoBlog });
                if(!resp.error){
                    CKEDITOR.instances['editor'].setData(infoBlog.content);
                }else{
                    return toastr['error']('Thêm thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err })
        });

        $(document).on('click', '.update-post', function(e) {
            e.preventDefault();

            let blogID = `<%=blogID%>`;

            let title       = $('#title').val().trim();
            let shortDesc 	= $('.shortDesc').val().trim();
            //let image 	    = $('#image').val().trim();
            let _imagePost = $('#image-post')[0].files[0];
            let category 	= $('#category').val().trim();
            let content 	= CKEDITOR.instances['editor'].getData();

		    var formData = new FormData();
            formData.append('image', _imagePost);

            if(_imagePost){
                $.ajax({
                    url: "https://api.imgur.com/3/image",
                    type: "POST",
                    datatype: "json",
                    headers: {
                    "Authorization": "Client-ID 1059a795be32ee2"
                    },
                    data: formData,
                    success: function(response) {
                        console.log({ response });

                        var photo = response.data.link;
                        var photo_hash = response.data.deletehash;

                        console.log({ image: photo, title, shortDesc, category, content });

                        if(!title || !content){
                            return toastr.info('Vui lòng nhập đây đủ!')
                        } else{
                            $.ajax({
                                url: `/blog/update/${blogID}`,
                                method: 'POST',
                                data: { image: photo, title, shortDesc, category, content },
                                success: resp => {
                                    console.log({ resp })
                                    if(!resp.error){
                                        toastr['success']('Cập nhật bài viết thành công', 'Thông báo');
                                        setTimeout(() => {
                                            location.href = `/dashboard`
                                        }, 500);
                                    }else{
                                        return toastr['error']('Cập nhật bài viết thất bại', 'Thông báo');
                                    }
                                },
                                error: err => console.log({ err })
                            });
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }else{
                if(!title || !content){
                    return toastr.info('Vui lòng nhập đây đủ!')
                } else{
                    $.ajax({
                        url: `/blog/update/${blogID}`,
                        method: 'POST',
                        data: { title, shortDesc, category, content },
                        success: resp => {
                            console.log({ resp })
                            if(!resp.error){
                                toastr['success']('Cập nhật bài viết thành công', 'Thông báo');
                                setTimeout(() => {
                                    location.href = `/dashboard`
                                }, 500);
                            }else{
                                return toastr['error']('Cập nhật bài viết thất bại', 'Thông báo');
                            }
                        },
                        error: err => console.log({ err })
                    });
                }
            }

            // if(!title || !content){
            //     return toastr.info('Vui lòng nhập đủ!')
            // } else{
            //     $.ajax({
            //         url: `/blog/update/${blogID}`,
            //         method: 'POST',
            //         data: { title, content, category, shortDesc },
            //         success: resp => {
            //             console.log({ resp })
            //             if(!resp.error){
            //                 toastr['success']('Cập nhật thành công', 'Thông báo');
            //                 let blogID = resp.data._id
            //                 location.reload();
            //             }else{
            //                 return toastr['error']('Cập nhật thất bại', 'Thông báo');
            //             }
            //         },
            //         error: err => console.log({ err })
            //     });
            // }
        })

        $('#image-post').change(function(){
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) 
            {
                var reader = new FileReader();

                reader.onload = function (e) {
                $('#img').attr('src', e.target.result);
                }
            reader.readAsDataURL(input.files[0]);
            }
            else
            {
            $('#img').attr('src', '/assets/no_preview.png');
            }
        });
    })
    
</script>
        
        