<% moment.locale('vi')%>
<%- include ('./header.ejs') %>
        <!-- site-main -->
        <div id="main" class="site-main">
	
            <div class="layout-medium"> 
                <div id="primary" class="content-area">
       
                    <div id="content" class="site-content" role="main">
                                    
                        <article class="hentry page">
                            
                            <div class="entry-content intro" data-animation="rotate-1">
                                
                                <div class="profile-image">
                                	<img alt="profile" src="/template/images/site/avatar_main_square.jpg">
                                </div>  
                                
                                <h2><em>Hi.</em> I'm Dat</h2>
                                <h3>I am a <strong>IT Business Analyst</strong> <strong>Fullstack Developer</strong></h3>
                                
                                <figure>
                                	<a href="/about-me"><img src="/template/images/site/about_me.jpg" alt="About Me"></a>
                                    <figcaption class="wp-caption-text">About Me</figcaption>
                                </figure>        
                                <% CATEGORY.forEach(category => { %>
                                    <figure>
                                        <a href="/category/type/<%=category.id%>"><img src="<%=category.image%>" alt="About Me"></a>
                                        <figcaption class="wp-caption-text"><%=category.title %></figcaption>
                                    </figure> 
                                <% }) %>
                                    
                             </div> 
                                    
                         </article> 
                                 
                       <h3 style="color: rgb(95, 95, 95); font-size: 15px;" class="widget-title home-title">Bài viết gần đây</h3>  
                        
                        <div class="media-grid-wrap">
                            <div class="masonry blog-masonry blog-stream tablet-view" data-layout="masonry" data-mobile-item-width="220" data-item-width="420" style="width: 697.469px; position: relative; height: 1235.16px;">       
                                <% listBlog && listBlog.length && listBlog.slice(0, 6).forEach(blog => { %>
                                <article class="hentry post has-post-thumbnail slideUp" style="position: absolute; left: 0px; top: 0px; width: 49.8947%; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                                    <!-- .featured-image -->
                                    <div class="featured-image">
                                        <a href="/blog/<%=blog._id %>"><img style="flex-shrink: 0; min-width: 100%; max-height: 240px; object-fit: cover;" width="1440" height="1440" src="<%=blog.image%>" alt="blog-image"></a>
                                    </div>
                                    
                                    <header class="entry-header">
                                        
                                        <!-- .entry-title -->
                                        <h2 class="entry-title"><a href="/blog/<%=blog._id %>"><%=blog.title%></a></h2>
                                        
                                        
                                        <!-- .entry-meta -->
                                        <div class="entry-meta">
                                            <span class="cat-links">
                                                <a href="#" title="View all posts in Adventure" rel="category tag">
                                                    <% CATEGORY.forEach(category => { %>
                                                        <% if (category.id == blog.category) { %>
                                                              <%=category.title%> 
                                                        <% } %>
                                                    <% }) %>
                                                </a>
                                            </span>	
                                            <span class="entry-date">
                                                <time class="entry-date" datetime=""><%=moment(blog.createAt).format('L'); %></time>
                                            </span>    
                                            <span>
                                                <a href="/blog/<%=blog._id %>"><%=blog.views%> Lượt xem</a>
                                            </span>
                                        </div>
                                        <!-- .entry-meta -->
                                        
                                        
                                    </header>
                                    <!-- .entry-header -->
                                    
                                    <!-- .entry-content -->
                                    <div class="entry-content">
                                        <p><%=blog.shortDesc ? blog.shortDesc.slice(0, 190).concat('...') : `Ở đây sẽ hiện short description Ở đây sẽ hiện short description Ở đây sẽ hiện short description Ở đây sẽ hiện short description Ở đây sẽ hiện short description...` %> 
                                            <span class="more">
                                                <a href="/blog/<%=blog._id %>" class="more-link">Đọc thêm</a>
                                            </span>
                                        </p>
                                    
                                    </div>
                                    <!-- .entry-content -->
                                    
                                    
                                </article>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;" class="home-launch">
                        <a class="button" href="/category">Xem tất cả</a>
                    </div> 
                    </div>
                </div>
            </div>
        </div>
        
<%- include ('./footer.ejs') %>