<% moment.locale('vi')%>
<!doctype html>

<html lang="en" class="minimal-style is-menu-fixed is-always-fixed is-selection-shareable blog-animated header-light header-small" data-effect="slideUp"><!-- InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="true" -->

<head>

    <meta charset="utf-8">

    <meta property="og:url"                content="https://tothanhdat.online/blog/<%=infoBlog._id%> " />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="<%=infoBlog.title %>" />
    <meta property="og:description"        content="<%=infoBlog.shortDesc || 'Xin chào các bạn, mình là Đạt. Hiện tại mình là 1 ITBA, mình thích chụp ảnh, đá bóng và các công việc liên quan đến lĩnh vực IT' %>" />
    <meta property="og:image"              content="<%=infoBlog.image %>" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Blog của Đạt">
    <meta name="description" content="Chúc bạn có trải nghiệm vui vẻ nhé!!">

    <meta name="keywords" content="blog itba, itba, blog lap trinh, tothanhdat, itba sharing, itba momo, deploy nodejs matbao, deploy nodejs mongodb">
    
    <title><%=infoBlog.title%></title>
    
    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" href="/template/images/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/template/images/ico/apple-touch-icon.png">
    
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans:400,400i,700,700i|Poppins:300,400,500,600,700" rel="stylesheet">
    
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/template/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/template/css/fonts/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/template/js/jquery.magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/template/js/jquery.fluidbox/fluidbox.css">
    <link rel="stylesheet" type="text/css" href="/template/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/template/js/selection-sharer/selection-sharer.css">
    <link rel="stylesheet" type="text/css" href="/template/css/rotate-words.css">
    <link rel="stylesheet" type="text/css" href="/template/css/align.css">
    <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    <link rel="stylesheet" type="text/css" href="/template/js/shortcodes/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="/template/css/768.css">
    <link rel="stylesheet" type="text/css" href="/template/css/992.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
	<!-- INITIAL SCRIPTS -->
	<script src="/template/js/modernizr.min.js"></script>

</head>

<body class="">

    <!-- page -->
    <div id="page" class="hfeed site">
        
        <!-- header -->
        <header id="masthead" class="site-header" role="banner">
            
            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                
                <!-- layout-medium -->
                <div class="layout-medium">
                    
                    <!-- site-title : image-logo -->
                    <h1 class="site-title">
                        <a href="/">
                            <img src="/template/images/site/signature.png" alt="logo">
                        	<span class="screen-reader-text">Haley Dust</span>
                        </a>
                    </h1>
                
                    <a class="menu-toggle"><span class="lines"></span></a>
                    
                    <!-- nav-menu -->
                    <div class="nav-menu">
                        <ul>
                            <li><a href="/">TRANG CHỦ</a>
                                <!-- level 2 -->
                            </li>
                            
                            <li><a href="/about-me">ABOUT ME</a></li>

                            <% CATEGORY.forEach(category => { %>
                                <li><a href="/category/type/<%=category.id%>"><%=category.title %> </a></li>
                            <% }) %>

                        </ul>
                    </div>
                    <!-- nav-menu -->
                    
                    <a class="search-toggle toggle-link"></a>
                                        
                    <!-- search-container -->
                    <div class="search-container">
                        
                        <div class="search-box" role="search">
                            <form method="get" class="search-form" action="#">
                                <label>Search Here
                                    <input type="search" id="search-field" placeholder="type and hit enter" name="s">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                    
                    </div>
                    <!-- search-container -->
                    
                    <!-- social-container -->
                    <div class="social-container">
                        <a class="social-link facebook" href="https://www.facebook.com/TOTHANHDAT.TTD/"></a>
                        <a class="social-link linkedin" href="https://www.linkedin.com/in/tothanhdat/"></a>
                        <a class="social-link github" href="https://github.com/tothanhdat"></a>
                        <a class="social-link instagram" href="https://www.instagram.com/tothanhdat.it/"></a>
    
                    </div>
                    <!-- social-container -->
                </div>
                <!-- layout-medium -->
            </nav>
        
        </header>

<div id="main" class="site-main">
			
    <!-- InstanceBeginEditable name="TopContent" -->
    
    <!-- .featured-top -->
    <div class="featured-top">
            
        <img src="<%=infoBlog.image %>" alt="post-image">
        
        <!-- .post-thumbnail -->
        <div class="post-thumbnail" style="background-image:url(<%=infoBlog.image%>)">
                                  
            <!-- .entry-header -->
            <header class="entry-header">
                
                                
                <!-- .entry-meta -->
                <div class="entry-meta">
                    <span class="cat-links">
                        <a href="#" title="View all posts in Travel" rel="category tag">
                            <% CATEGORY.forEach(category => { %>
                                <% if (category.id == infoBlog.category) { %>
                                      <%=category.title%> 
                                <% } %>
                            <% }) %>
                        </a>
                    </span>	
                </div>
                <!-- .entry-meta -->
                
                <!-- .entry-title -->
                <h1 class="entry-title"><%=infoBlog.title %> </h1>
                                
                <!-- .entry-meta -->
                <div class="entry-meta">
                    <span class="entry-date">
                        <time class="entry-date" datetime="2014-07-13T04:34:10+00:00"><%=moment(infoBlog.createAt).format('LL'); %> </time>
                    </span> 
                    <span class="comment-link">
                        <a href="#comments"><%=infoBlog.views%> Lượt xem</a>
                    </span>
                </div>
                <!-- .entry-meta -->
                
            </header>
            <!-- .entry-header -->
            
        </div>
        <!-- .post-thumbnail -->
        
    </div>
    <!-- .featured-top -->	
    
    
    <!-- InstanceEndEditable -->
    
    <div class="layout-medium"> 
        <div id="primary" class="content-area">
     
            <div id="content" class="site-content" role="main">
            
                    <!-- .hentry -->
                    <article class="hentry post single-post">
                    
                        
                        <!-- .entry-content -->
                        <div class="entry-content">
                                                                
                            <div class="content-ckeditor">

                            </div>
                            
                        </div>
                        <!-- .entry-content -->
                            
                             <!-- .post-tags -->
                             <div class="post-tags tagcloud">
                                <a href="#" rel="tag">ITBA</a>
                                <a href="#" rel="tag">laptrinh</a>
                                <a href="#" rel="tag">blog</a>
                             </div>
                             <!-- .post-tags -->
                            
                             
                             <!-- .share-links -->
                             <div class="share-links">
                                
                                <h3>CHIA SẺ LÊN</h3>
                                                                
                                <a rel="nofollow" target="_blank" href="mailto:?subject=I wanted you to see this post&amp;body=Check out this post : Sketching Mickey - http://themes.pixelwars.org/editor-html/blog-single.html." title="Email this post to a friend"><i class="pw-icon-mail"></i></a>
                                
                                <a rel="nofollow" target="_blank" href="http://twitter.com/home?status=Currently reading: 'Sketching Mickey' http://themes.pixelwars.org/editor-html/blog-single.html" title="Share this post with your followers"><i class="pw-icon-twitter"></i></a>
                                  
                                <a rel="nofollow" target="_blank" href="http://www.facebook.com/sharer.php?u=http://themes.pixelwars.org/editor-html/blog-single.html&amp;t=Sketching Mickey" title="Share this post on Facebook"><i class="pw-icon-facebook"></i></a>
                                
                                <a rel="nofollow" target="_blank" href="https://plus.google.com/share?url=http://themes.pixelwars.org/editor-html/blog-single.html" title="Share this post on Google+"><i class="pw-icon-gplus"></i></a>
                                
                             </div>
                             <!-- .share-links -->

                             <nav class="nav-single row">
                                <% if (previousPost) { %>
                                    <div class="nav-previous col-xs-6">
                                        <h4>Xem bài trước</h4>
                                        <a href="/blog/<%=nextPost._id%>" rel="prev"><%=previousPost.title %></a>
                                    </div>
                                <% } %>
                                
                                <% if (nextPost) { %>
                                    <div class="nav-next col-xs-6">
                                        <h4>Xem bài tiếp theo</h4>
                                        <a href="/blog/<%=nextPost._id%>" rel="next"><%=nextPost.title %> </a>
                                    </div>
                                <% } %>
                            </nav>

                            <div id="comments" class="comments-area">
                              
                                <!-- #respond --> 
                                <div id="respond">
                                
                                  <h3 id="reply-title">Để lại trả lời  <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                                  
                                  <!-- .commentform -->
                                  <form action="#" method="post" id="commentform" class="validate-form" novalidate="novalidate">
                                  
                                    <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required" aria-required="true">*</span></p>
                                    
                                    <p class="comment-form-comment">
                                      <label for="comment">Comment</label>
                                      <textarea id="comment" name="comment" rows="8" aria-required="true" class="required"></textarea>
                                    </p>
                                    
                                    <p class="comment-form-author">
                                      <label for="author">Name <span class="required" aria-required="true">*</span></label>
                                      <input id="author" name="author" type="text" size="30" aria-required="true" class="required">
                                    </p>
                                    
                                    <p class="comment-form-email">
                                      <label for="email">Email <span class="required" aria-required="true">*</span></label>
                                      <input id="email" name="email" type="text" size="30" aria-required="true" class="required email">
                                    </p>
                                    
                                    <p class="comment-form-url">
                                      <label for="url">Website</label>
                                      <input id="url" name="url" type="text" size="30">
                                    </p>
                                    
                                    <p class="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes: <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>
                                    
                                    <p class="form-submit">
                                      <input type="submit" name="submit" id="submit" class="button primary btnComment" value="SUBMIT">
                                    </p>
                                    
                                  </form>
                                  <!-- .commentform -->
                                  
                                </div>
                                <!-- #respond --> 
                                
                              </div>
                    </article>
            </div>
            <!-- site-content -->
    
        </div>
        <!-- primary -->    
    
    </div>
    <!-- layout -->

</div>        
<%- include ('./footer.ejs') %>

<script>
    $(document).ready(function(){
        let blogID = `<%=infoBlog._id%>`;
        $.ajax({
            url: `/blog/info/${blogID}`,
            method: 'GET',
            success: resp => {
                let infoBlog = resp.data;
                if(!resp.error){
                    $('.content-ckeditor').append(infoBlog.content)
                }else{
                    return toastr['error']('Thêm thất bại', 'Thông báo');
                }
            },
            error: err => console.log({ err })
        });

        $(document).on('click', '.btnComment', function(e) {
            e.preventDefault();
            return toastr['warning']('Tính năng này đang được phát triển', 'Thông báo');
        });
    })
    
</script>