<% moment.locale('vi')%>
<%- include ('./header.ejs') %>
<style>
  .disabled {
    pointer-events:none;
    opacity:0.6;
  }
</style>
<br>
<div id="main" class="site-main">
  <div class="layout-medium"> 
      <div id="primary" class="content-area with-sidebar">
          <!-- site-content -->
          <div id="content" class="site-content" role="main">
              <!-- BLOG LIST -->
              <div class="media-grid-wrap">
                <div class="masonry blog-masonry blog-stream tablet-view" data-layout="masonry" data-mobile-item-width="220" data-item-width="420" style="width: 874.203px; position: relative; height: 1261.74px;">       
                  <% if (products && products.length) { %>
                    <%products.forEach(blog => {%> 

                    <article class="hentry post has-post-thumbnail slideUp animated" style="position: absolute; left: 0px; top: 0px; width: 49.9884%; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                        <!-- .featured-image -->
                        <div class="featured-image">
                            <a href="/blog/<%=blog._id%>"><img style="flex-shrink: 0; min-width: 100%; max-height: 240px; object-fit: cover;" width="1440" height="1440" src="<%=blog.image%>" alt="blog-image"></a>
                        </div>
                        
                        <header class="entry-header">
                            
                            <!-- .entry-title -->
                            <h2 class="entry-title"><a href="/blog/<%=blog._id%>"><%=blog.title%></a></h2>
                            
                            <!-- .entry-meta -->
                            <div class="entry-meta">
                                <span class="cat-links">
                                    <a href="#" title="View all posts in Adventure" rel="category tag">
                                      <% CATEGORY.forEach(category => { %>
                                        <% if (category.id == blog.category) { %>
                                              <%=category.title%> 
                                        <% } %>
                                    <% }) %>
                                    </a>
                                </span>	
                                <span class="entry-date">
                                    <time class="entry-date" datetime=""><%=moment(blog.createAt).format('LL'); %></time>
                                </span>    
                                <span>
                                    <a href="/blog/<%=blog._id%>"><%=blog.views%> Lượt xem</a>
                                </span>
                            </div>
                        </header>
                        
                        <!-- .entry-content -->
                        <div class="entry-content">
                          <p><%=blog.shortDesc ? blog.shortDesc.slice(0, 190).concat('...') : `Chào các bạn, mình là Đạt đây, hiện tại mình là một ITBA. Đây là blog nhằm chia sẻ các câu chuyện trong cuộc sống của mình cũng như chia sẻ các kiến thức bổ ích về lập trình và BA mà mình tích lũy được.` %> 
                              <span class="more">
                                  <a href="/blog/<%=blog._id %>" class="more-link">Đọc thêm</a>
                              </span>
                          </p>
                      
                        </div>
                        <!-- .entry-content -->
                        
                        
                    </article>
                    <%})%>
                  <% }else{%>
                    <div style="text-align: center; padding-top: 40px;">
                      <img src="/template/images/site/not_found.png" alt="post-image" class="tptn_thumb">
                      <p style="font-size: large; color: rgb(82, 82, 82);">Sorry!! Không tìm thấy bài viết nào</p>
                    </div>
                  <% } %>
                    
                </div>
              </div>
            <!-- BLOG BOLD --> 
              
              <!-- post pagination -->
              <% if (pages > 0) { %>
                <nav class="post-pagination">
                  <ul class="pagination">
                    <% if(!current){%> 
                      <% current = 1 %>
                    <%} %> 
                    <% if (current == 1) { %>
                      <li class="pagination-first disabled"><a href="#"> First </a></li>
                    <% }else{%>
                      <li class="pagination-first"><a href="#"> First </a></li>
                    <% } %>

                    <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 

                    <% if(i !== 1) { %>
                      <li class="pagination-num disabled"><a href="#">...</a></li>
                    <% } %>

                    <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                      <% if(i == current) { %>
                        <li class="pagination-num current"><a href="?page=<%= i %>"><%= i %></a></li>
                      <% } else { %>
                        <li class="pagination-num"><a href="?page=<%= i %>"><%= i %></a></li>
                      <% } %>
                      <% if (i == Number(current) + 2 && i < pages) { %>
                          <li class="pagination-num disabled"><a href="?page=<%= i %>">...</a></li>
                      <% } %>
                    <% } %>

                    <% if(current == pages) { %> 
                          <li class="pagination-last disabled"><a href="#"> Last </a> </li>
                      <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/category?page=<%= pages %>">
                              Last
                            </a>
                          </li>
                      <% } %>
                  </ul>
              </nav>
              <% } %>
              <!-- post pagination -->
          </div>
      </div>
      <div id="secondary" class="widget-area sidebar" role="complementary">
      
          <!-- widget : text -->
          <aside class="widget widget_text">
            <h3 class="widget-title">About Me</h3>
            <div class="textwidget">
              <p style=""><img style="border-radius: 5%;" src="/template/images/site/avatar_main_square.jpg" alt="avatar"></p>
              <p>Xin chào! Mình là Đạt Tô, hiện tại mình là một ITBA. </p>
              <p>Đây là blog nhằm chia sẻ các câu chuyện trong cuộc sống của mình cũng như chia sẻ các kiến thức bổ ích về lập trình và BA mà mình tích lũy được.</p>
            </div>
          </aside>
          <!-- widget : text -->
          
          <!-- widget : text -->
          <aside class="widget widget_text">
            <h3 class="widget-title">Follow Me</h3>
            <div class="textwidget">
              <p>
                  <a class="social-link facebook" href="https://www.facebook.com/TOTHANHDAT.TTD/"></a>
                  <a class="social-link linkedin" href="https://www.linkedin.com/in/tothanhdat/"></a>
                  <a class="social-link github" href="https://github.com/tothanhdat"></a>
                  <a class="social-link instagram" href="https://www.instagram.com/tothanhdat.it/"></a>
              </p>
            </div>
          </aside>
          <!-- widget : text -->
          
          <!-- styles for plugin : https://wordpress.org/plugins/top-10 -->
          <aside class="widget widget_widget_tptn_pop">
              <h3 class="widget-title">Bài viết nổi bật</h3>
              <div class="tptn_posts tptn_posts_widget">
                  <ul>
                    <% if (listBlogTrending && listBlogTrending.length) { %>
                        <% listBlogTrending.slice(0, 5).forEach(blog => { %>
                          <li>
                            <a href="/blog/<%=blog._id%>" class="tptn_link">
                                <img style="max-width: 20%" src="<%=blog.image%>" alt="post-image" class="tptn_thumb">
                            </a>
                              <span class="tptn_after_thumb">
                                  <a href="/blog/<%=blog._id%>" class="tptn_link"><span class="tptn_title"><%=blog.title%></span></a>
                                  <!--<span class="tptn_author"> by <a href="#">Johnny Doe</a></span>-->
                                  <span class="tptn_date"> <%=moment(blog.createAt).format('L'); %></span> 
                              </span>
                          </li>
                        <% }) %>
                    <% }else {%>
                      <li>
                        <p>Không có bài viết nào</p>
                      </li>
                    <% } %>
                  </ul>
              </div>
          </aside>
      </div>
  </div>
</div>
<%- include ('./footer.ejs') %>
